<div class="container-fluid">
  <h1>Bootstrap Enrollment Form</h1>
  <form #userForm="ngForm">
    {{ userForm.value | json }}
    <div ngModelGroup="address">
      <div class="form-group">
        <label for="">Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label for="">State</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>
      <div class="form-group">
        <label for="">Postal Code</label>
        <input type="text" class="form-control" name="postalCode" ngModel>
      </div>
    </div>
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" name="userName" ngModel>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="form-group">
      <label for="">Phone</label>
      <input type="tel" class="form-control" name="phone" ngModel>
    </div>
    <div class="form-group">
      <select class="custom-select" name="topic" ngModel>
        <option selected>I'm interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="">Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" ngModel value="morning">
        <label for="" class="form-check-label">Morning (9AM - 12AM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" ngModel value="evening">
        <label for="" class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" name="subscribe" ngModel>
      <label for="" class="form-check-label">Send me promotional offers</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit form</button>
  </form>
</div>